/* ----- tighten the autosummary tables ----- */


table.longtable.table.autosummary td {
/*
    padding : 0;
*/
    padding-bottom : 0;
    padding-top : 0;
}


table.longtable.table.autosummary p {
    margin-bottom : 0;
}


/* ----- change ''profess'' settings ----- */

/*code.docutils.literal.notranslate {
    color : green;
    font-size : 100% !important
}*/
